:root {
  --color-header-dark: #343434;
  --color-wite: #ffffff;
  --color-black: #000000;
  --color-wite2: #e8e8e8;
  --color-current: #303030;
  --color-title: #626262;
  --color-title-sec: #959595;
  --color-price: #4aaa4e;
  --color-size: #d9d9d9;
  --color-grey: #cccccc;
}
