.MoreLike {
  width: 1366px;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: var(--color-wite);

  &_title {
    color: var(--color-header-dark);
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 700;
  }

  &_list {
    display: flex;
  }

  &_item {
    position: relative;
  }

  &_item_heart {
    position: absolute;
    background-color: var(--color-wite);
    border-radius: 50%;
    padding: 5px;
    left: 90%;
    top: 2%;
  }

  &_item:not(:last-child) {
    margin-right: 30px;
  }

  &_item_title {
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--color-header-dark);
  }

  &_item_text {
    color: var(--color-title-sec);
    margin-bottom: 10px;
  }

  &_item_price {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-price);
    font-size: 17px;
  }

  &_item_price span {
    font-weight: 700;
    font-size: 11px;
  }

  &_box_btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &_btn {
    margin: 0 auto;
    margin-top: 55px;
    border: none;
    background-color: inherit;
    text-transform: uppercase;
    color: var(--color-title);
    font-weight: 600;
  }
}
